[Unit]
Description="steadybit extension loadtest"
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/steadybit/extension-loadtest/extension-loadtest
EnvironmentFile=/etc/steadybit/extension-loadtest
User=steadybit
Group=steadybit
SuccessExitStatus=0 143
Restart=on-failure
RestartSec=5s
StandardOutput=append:/var/log/steadybit-extension-loadtest.log
StandardError=append:/var/log/steadybit-extension-loadtest.log

[Install]
WantedBy=multi-user.target
